.cartIconContainer {
    border-radius: 50%;
    position: fixed;
    bottom:50px;
    right:50px;
    box-shadow: 0px 0px 7px -5px rgba(0,0,0,0.5);
    text-align: center;
    z-index: 2;
    background-color: #ffc534;
    padding: 12px;
    color: white;
    /* display: flex; */
}

.cartIcon {
    font-size: 2rem !important;
}

.cartCount {
    margin: 0; 
    position: absolute; 
    top: 18px;
    left: 16px; 
    color: white;
    background-color: red;
    padding: 2px 4px;
    border-radius: 50%;
    font-size: 0.8rem;
}